.payslip-row {
  border-top: 1px solid @grey-light;
  border-bottom: 1px solid @grey-light;
  .ptb;
  .nmt;
  .mb;
}
.bg-gradient {
  background: linear-gradient(to right, @dusk, @blue-light);
}
.flex-container-row-resp {
  .half { width: 48% !important;  margin-right:2%;}
  .full { width: 100% !important; }
  @media only screen and(max-width:@width-mobile) {
    .half {
      width: 100% !important; .nmr;
    }
  }
}
.input-decorator {
  font-size:16px;
  color:@grey-dark;
  &.left {
    margin-right:5px;
  }
  &.right {
    margin-left:5px;
  }
}
